{% load i18n %}
{% load static %}

{% load appearance_tags %}
{% load common_tags %}
{% load navigation_tags %}
{% load smart_settings_tags %}
{% load templating_tags %}

{% spaceless %}
<script>
    if (typeof partialNavigation === 'undefined') {
        /* Check if the template was not loaded via AJAX
         * If not then reload the root path passing the
         * current location's path as the new hash
         */
        document.write('<script type="text/undefined">')
        const currentPath = window.location.pathname + window.location.search;
        {% smart_setting "ORGANIZATIONS_URL_BASE_PATH" as base_url %}
        window.location = '/{{ base_url|default:"" }}#' + currentPath;
    }
</script>

{% block stylesheets %}{% endblock %}

<link href="https://fonts.googleapis.com/css?family={% get_font_link %}" rel="stylesheet">
<style>
         
        body {
			font-family: "{% get_fontraw %}", sans-serif;
		}

        .navbar-brand{
            font-family: "{% get_fontraw %}", sans-serif;
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: "{% get_fontraw %}", sans-serif;
        }

        @media (min-width: 768px) {
            .navbar-brand {
                text-align: left;
                width: 700px;
            }
        }
        .navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
            background-color: {% color_background_nav %};
        }
</style>
<script>
    data = "{% appearance_get_user_theme_script %}";
    listData = data.split("|")
    console.log(listData)
    $("#text-braner").text(listData[0])
    if(listData[1]){
        $("#dataNavbar").html('<a class="navbar-brand" href="http://127.0.0.1:8000/#/home/" style="color:'+listData[2]+';"><div class="row"> <img src="'+listData[1]+'" style="margin-left:50px;margin-top: -8px;margin-right: 10px;" width="40" height="40" alt=""> '+listData[0]+'</div></a>')
    }else{
        $("#dataNavbar").html('<a class="navbar-brand" href="http://127.0.0.1:8000/#/home/" style="color:'+listData[2]+';margin-left:20px;"><div class="row"> '+listData[0]+'</div></a>')
    }
    $("#headerTopMenu").css("background-color", listData[3]);
    $("#accordion-sidebar .panel-heading").css("background-color", listData[4]);
    $("#menu-main").css("background-color", listData[4]);
    $(".navbar-default .navbar-nav>li>a").css("color", listData[2]);
    $(".panel-primary>.panel-heading").css("background-color", listData[5]);
    $(".navbar-default .navbar-nav>.open>a").css("background-color", listData[3]);
    $("body").css("background-color", listData[6]);
    $("#accordion-sidebar .panel-body").css("background-color", listData[7]);

    //button zone
    $(".btn-primary").css("background-color", listData[8]);
    $(".btn-danger").css("background-color", listData[9]);
    $(".btn-success").css("background-color", listData[10]);
    $(".btn-default").css("background-color", listData[11]);

    //FontSize 
    $(".navbar-brand").css("fontSize",  listData[12]+"px");
    $("#accordion-sidebar .panel-title").css("fontSize",  listData[13]+"px");
    $("#content-title").css("fontSize",  listData[14]+"px");

    //colorMenu
    $("#accordion-sidebar .panel-title").css("color",  listData[15]);
    $("#accordion-sidebar .panel-body a").css("color",  listData[15]);
</script>
<script>
    function getElementByXpath(path) {
        return document.evaluate(path, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
    }
    function loadImageFileAsURL(){
          var filesSelected = document.getElementById("inputFileToLoad").files;
          if (filesSelected.length > 0)
          {
              var fileToLoad = filesSelected[0];
      
              var fileReader = new FileReader();
      
              fileReader.onload = function(fileLoadedEvent) 
              {
                  resize(fileLoadedEvent.target.result);
              };
      
              fileReader.readAsDataURL(fileToLoad);
      
          }
      }
      
    function resize(file){
          var image = new Image();
          image.src = file;
          var canvas = document.createElement("canvas");
          var ctx = canvas.getContext("2d");
          canvas.width = 50; // target width
          canvas.height = 50; // target height
          image.onload = function(e) {
              ctx.drawImage(image, 
                  0, 0, image.width, image.height, 
                  0, 0, canvas.width, canvas.height
              );
              // create a new base64 encoding
              var resampledImage = new Image();
              $("#id_logo_path").val(canvas.toDataURL())
              if($("#id_logo_path").val() != ""){
                toastr.success('Uploads Image success.', {timeOut: 1000})
                $("#clearLogo").show();
              }else{
                toastr.error('Uploads Error.',{timeOut: 1000})
              }
              checkLogo()
          };
    }
    
    function clearPathLogo(){
        $("#id_logo_path").val("")
        $("#clearLogo").hide();
        imgLogo = document.getElementById("logoimg").src = "";
    }
    function createBr(){
        var br = document.createElement("br");
        getElementByXpath('//*[@id="viewport"]/div[5]/form/div[3]').appendChild(br)
    }
    function checkLogo(){
        filePath = $("#id_logo_path").val();
        if(filePath != ""){
            imgLogo = document.getElementById("logoimg");
            imgLogo.src = filePath;
        }
    }
    function checkButtonClear(){
        filePath = $("#id_logo_path").val();
        var buttonclear = document.createElement("a");
        buttonclear.className = "btn btn-danger btn-sm";
        buttonclear.text = "Clear Logo";
        buttonclear.id = "clearLogo"
        buttonclear.style.cssText = "display:none;";
        buttonclear.onclick = function () {
            clearPathLogo();
        };
        getElementByXpath('//*[@id="viewport"]/div[5]/form/div[3]').appendChild(buttonclear)

        if(filePath != ""){
            $("#clearLogo").show();
        }
    }
    function createUploads(){
        var input = document.createElement("input");
        input.type = "file";
        input.className = "form-control"
        input.id = "inputFileToLoad"
        input.accept = "image/*"
        input.onchange = function () {
            loadImageFileAsURL();
        };
        getElementByXpath('//*[@id="viewport"]/div[5]/form/div[3]').appendChild(input)
        $("#id_logo_path").hide();
    }
    function createImgLogo(){
        var imgLogo = document.createElement("img");
        imgLogo.id = "logoimg"
        getElementByXpath('//*[@id="viewport"]/div[5]/form/div[3]').appendChild(imgLogo)
    }
    function createinputFile(){
        $("#id_stylesheet").hide();
        $("#id_javascript_data").hide();
        getElementByXpath('//*[@id="viewport"]/div[5]/form/div[5]/label').style.display = "none";
        getElementByXpath('//*[@id="viewport"]/div[5]/form/div[6]/label').innerHTML = "Upload Theme";
    
    
        var input = document.createElement("dev");
        input.id = "formStylesheet";
        getElementByXpath('//*[@id="viewport"]/div[5]/form/div[6]').appendChild(input);
    
        $("#formStylesheet").html(`<div class="panel panel-default">
          <div class="panel-body">
            <div class="mb-3">
                <label for="xmlfile" class="form-label">Upload Theme file</label>
                <input class="form-control" type="file" onchange="inputXML()" id="xmlfile">
                <b style="margin-right:10px;margin-left:10px;">Type Theme: </b>
                  <input type="radio" id="jl" style="margin-left:15px;" name="typexml" value="Joomla">
                  <label for="jl">XML Joomla</label> 
                  <input type="radio" id="wdp" style="margin-left:15px;" name="typexml" value="Json">
                  <label for="wdp">JSON Mayan</label> 
                  <input type="radio" id="ot" style="margin-left:15px;" name="typexml" value="xmlmayan" checked>
                  <label for="ot">XML Mayan</label> 
                <br>
                <br>
                <label for="cssfile" class="form-label">Upload CSS file</label>
                <input class="form-control" type="file" onchange="inputCSS()" id="cssfile">
                <a class="btn btn-warning" style="margin-top:5px;" id="clearCSSFile" onClick="clearCss()" style="display:none;"><i class="fa fa-trash" aria-hidden="true"></i> Clear CSS file</a>
                <br><br>
                <label for="jsfile" class="form-label">Upload Javascript file</label>
                <input class="form-control" type="file" onchange="inputJS()" id="jsfile">
                <a class="btn btn-warning" style="margin-top:5px;" id="clearJSFile" onClick="clearjs()" style="display:none;"><i class="fa fa-trash" aria-hidden="true"></i> Clear JS file</a>
                <br><br>
            </div>
          </div>
        </div>`);
    }
    function inputXML(){
        let typeXML = document.querySelector('input[name="typexml"]:checked').value;
        if(typeXML == "Joomla"){
            joomlaInputXML()
            checkLogo()
        }else if(typeXML == "Json"){
            let file = document.querySelector('#xmlfile');
            if (!file.value.length) return;
            var reader = new FileReader();
            var jsonObj;
            reader.readAsText(file.files[0]);
            reader.onload = function(event) {
            jsonObj = JSON.parse(event.target.result);
                for (const [key, value] of Object.entries(jsonObj)) {
                    console.log(key, value);
                    $("#"+key).val(value)
                }
                checkLogo()
            }
        }else{
            setFormXMLmayan();
            checkLogo()
        }
    
    }
    
    function inputCSS(){
        let file = document.querySelector('#cssfile');
        if (!file.value.length) return;
        var reader = new FileReader();
        reader.readAsText(file.files[0]);
        reader.onload = function(event) {
            $("#id_stylesheet").val(event.target.result);
            checkEmptyVal()
            toastr.success('Uploads CSS file success.', {timeOut: 1000})
        }
    }
    
    function inputJS(){
        let file = document.querySelector('#jsfile');
        if (!file.value.length) return;
        var reader = new FileReader();
        reader.readAsText(file.files[0]);
        reader.onload = function(event) {
            $("#id_javascript_data").val(event.target.result);
            checkEmptyVal()
            toastr.success('Uploads JS file success.', {timeOut: 1000})
        }
    }
    
    function checkEmptyVal(){
        if($("#id_javascript_data").val() != ""){
            $("#clearJSFile").show();
        }else{
            $("#clearJSFile").hide();
        }
        
        if($("#id_stylesheet").val() != ""){
            $("#clearCSSFile").show();
        }else{
            $("#clearCSSFile").hide();
        }
    }
    
    function clearCss(){
        $("#id_stylesheet").val("");
        toastr.success('Clear CSS file success.', {timeOut: 1000})
        checkEmptyVal();
    }
    
    function clearjs(){
        $("#id_javascript_data").val("");
        toastr.success('Clear JS file success.', {timeOut: 1000})
        checkEmptyVal();
    }
    
    function joomlaInputXML(){
        let file = document.querySelector('#xmlfile');
        if (!file.value.length) return;
        var reader = new FileReader();
        reader.readAsText(file.files[0]);
        reader.onload = function(event) {
            let datafile = event.target.result;
            changeColor(getDataColor(datafile,"body_font"),"id_font_other");
            changeColor(getDataColor(datafile,"header_bg_color"),"id_background_color_header");
            changeColor(getDataColor(datafile,"logo_text_color"),"id_color_font_header");
            changeColor(getDataColor(datafile,"menu_text_color"),"id_menu_text_color");
            changeColor(getDataColor(datafile,"menu_dropdown_bg_color"),"id_background_menu_dropdown");
            changeColor(getDataColor(datafile,"menu_dropdown_bg_color"),"id_background_color_menu");
            changeColor(getDataColor(datafile,"bg_color"),"id_background_website");
            changeColor(getDataColor(datafile,"header_bg_color"),"id_background_color_header_panel");
        }
    }
    
    function changeColor(data,ele){
        if(data != -1){
            $("#" + ele).val(data);
        }
    }
    
    function getDataColor(dataFile,data){
        let checkData = dataFile.search(data);
        if(checkData == -1){
            return -1
        }
        
        if(data == "body_font"){
            let data1 = dataFile.split('<field name="body_font"');
            let data2 = data1[1].split('/>');
            let data3 = data2[0].split('{"fontFamily":"');
            let data4 = data3[1].split('"');
            let fontname = data4[0];
            return fontname;
        }else if(data == "header_bg_color"){
            let data1 = dataFile.split('<color name="header_bg_color"');
            let data2 = data1[1].split('/>');
            let data3 = data2[0].split('value="');
            let data4 = data3[1].split('"');
            let color = data4[0];
            return color;
        }else if(data == "logo_text_color"){
            let data1 = dataFile.split('<color name="logo_text_color"');
            let data2 = data1[1].split('/>');
            let data3 = data2[0].split('value="');
            let data4 = data3[1].split('"');
            let color = data4[0];
            return color;
        }else if(data == "menu_text_color"){
            let data1 = dataFile.split('<color name="menu_text_color"');
            let data2 = data1[1].split('/>');
            let data3 = data2[0].split('value="');
            let data4 = data3[1].split('"');
            let color = data4[0];
            return color;
        }else if(data == "menu_dropdown_bg_color"){
            let data1 = dataFile.split('<color name="menu_dropdown_bg_color"');
            let data2 = data1[1].split('/>');
            let data3 = data2[0].split('value="');
            let data4 = data3[1].split('"');
            let color = data4[0];
            return color;
        }else if(data == "bg_color"){
            let data1 = dataFile.split('<color name="bg_color"');
            let data2 = data1[1].split('/>');
            let data3 = data2[0].split('value="');
            let data4 = data3[1].split('"');
            let color = data4[0];
            return color;
        }
    }
    
    function setFormXMLmayan() {
        let file = document.querySelector('#xmlfile');
        if (!file.value.length) return;
        var reader = new FileReader();
        var data = {
                    "label": "id_label",
                    "brand": "id_brand_name",
                    "pathLogo": "id_logo_path",
                    "javascript": "id_javascript_data",
                    "Stylesheet": "id_stylesheet",
                    "font": "id_font_other",
                    "colorFontHeader": "id_color_font_header",
                    "colorbgHeader": "id_background_color_header",
                    "colormenu": "id_background_color_menu",
                    "colormenuText": "id_menu_text_color",
                    "colorbgdropdownmenu": "id_background_menu_dropdown",
                    "colorbgwebsite": "id_background_website",
                    "colorheaderpanel": "id_background_color_header_panel",
                    "danger": "id_btn_color_danger",
                    "success": "id_btn_color_success",
                    "default": "id_btn_color_default",
                    "primary": "id_btn_color_primary",
                    "fontSizebrand": "id_font_size_header",
                    "fontSizeMenu": "id_font_size_menu",
                    "fontSizeContentTitle": "id_font_size_content_title",
        };
        console.log(data['Stylesheet'])
        reader.readAsText(file.files[0]);
        reader.onload = function(event) {
            parser = new DOMParser();
            xmlDoc = parser.parseFromString(event.target.result,"text/xml");
            for (const [key, value] of Object.entries(data)) {
                try {
                    $("#" + value).val(xmlDoc.getElementsByTagName(key)[0].childNodes[0].nodeValue);
                }
                catch(err) {
                    console.log("Not found: " + key)
                    console.log(err)
                }
            }
            checkLogo()
        }
    
    }

    function saveDataForm(){
        let themename = $("#id_label").val();
        let brandName = $("#id_brand_name").val();
        let logoPath = $("#id_logo_path").val();
        let font = $("#id_font").val();
        let font_other = $("#id_font_other").val();
        let color_font_header = $("#id_color_font_header").val();
        let color_background_header = $("#id_background_color_header").val();
        let color_background_menu = $("#id_background_color_menu").val();
        let menu_text_color = $("#id_menu_text_color").val();
        let color_background_dropdown = $("#id_background_menu_dropdown").val();
        let color_background_website = $("#id_background_website").val();
        let color_background_header_panel = $("#id_background_color_header_panel").val();
        let color_danger_button = $("#id_btn_color_danger").val();
        let color_success_button = $("#id_btn_color_success").val();
        let color_default_button = $("#id_btn_color_default").val();
        let color_primary_button = $("#id_btn_color_primary").val();
        let font_size_brand = $("#id_font_size_header").val();
        let font_size_menu = $("#id_font_size_menu").val();
        let font_size_content_title = $("#id_font_size_content_title").val();
        
        var data = {
            id_label:themename,
            id_brand_name:brandName,
            id_logo_path:logoPath,
            id_font:font,
            id_font_other:font_other,
            id_color_font_header:color_font_header,
            id_background_color_header:color_background_header,
            id_background_color_menu:color_background_menu,
            id_menu_text_color:menu_text_color,
            id_background_menu_dropdown:color_background_dropdown,
            id_background_website:color_background_website,
            id_background_color_header_panel:color_background_header_panel,
            id_btn_color_danger:color_danger_button,
            id_btn_color_success:color_success_button,
            id_btn_color_default:color_default_button,
            id_btn_color_primary:color_primary_button,
            id_font_size_header:font_size_brand,
            id_font_size_menu:font_size_menu,
            id_font_size_content_title:font_size_content_title
        },fileName = themename+".json";
        saveFile(data,fileName);
    }
    
    function saveFile(data,fileName){
        var saveData = (function () {
        var a = document.createElement("a");
        // document.body.appendChild(a);
        // a.style = "display: none";
        return function (data, fileName) {
            var json = JSON.stringify(data),
                blob = new Blob([json], {type: "octet/stream"}),
                url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = fileName;
            a.click();
            window.URL.revokeObjectURL(url);
        };
        }());
    
        var data = data;
    
        saveData(data, fileName);
    }
    
    function setForm() {
        let file = document.querySelector('#changeTheme');
        if (!file.value.length) return;
        var reader = new FileReader();
        var jsonObj;
        reader.readAsText(file.files[0]);
        reader.onload = function(event) {
        jsonObj = JSON.parse(event.target.result);
            for (const [key, value] of Object.entries(jsonObj)) {
                console.log(key, value);
                $("#"+key).val(value)
            }
            checkLogo()
            if(validateTerms()){
                $('[name="submit"]').click()
            }
        }
    }
    
    function validateTerms(){
        var c=document.getElementById('autosave');
        if (c.checked) {
          return true;
        } else { 
          return false;
        }
    }
    //End Sprint 3

    function createDivExport(){
        var divExport = document.createElement("dev");
        divExport.id = "exportandimport"
        getElementByXpath('//*[@id="viewport"]/div[4]').appendChild(divExport)
        $("#exportandimport").html(`<div class="panel panel-default">
            <div class="panel-body text-center">
                <label for="changeTheme" class="btn btn-warning">
                    <i class="fa fa-download"></i> Import Theme
                </label>
                <input style="display:none;" id="changeTheme" type="file" onchange="setForm()" accept=".json"/>
                <button style="margin-left:20px;" class="btn btn-success" onclick="saveDataForm()"><i class="fa fa-upload"></i> Export Theme</button>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="autosave" checked>
                    <label class="form-check-label" style="margin-top:10px;" for="autosave"> Auto save when imported</label>
                  </div>
            </div>
          </div>`)
    }
	
    

    $( document ).ready(function() {
        if(((window.location.href.search("themes") != -1) && (window.location.href.search("edit") != -1)) || ((window.location.href.search("themes") != -1) && (window.location.href.search("create") != -1))){
            createUploads()
            createBr()
            createImgLogo()
            checkLogo()
            createBr()
            createBr()
            checkButtonClear()

            createinputFile()
            checkEmptyVal();
        }

        if(((window.location.href.search("themes") != -1) && (window.location.href.search("edit") != -1))){
            createDivExport()
        }
    });

</script>

<style>
    {% theme_stylesheet as csstheme %}
    {{csstheme|safe}}
</style>

<script>
    {% theme_javascript_data as jstheme %}
    {{jstheme|safe}}
</script>

{% if appearance_type == 'plain' %}
    {% block content_plain %}{% endblock %}
{% else %}
    <div class="">
        {% navigation_resolve_menus names='facet,list facet,related,return,sources' sort_results=True as sidebar_menus_link_results %}
        <div class="row zero-margin">
            <div class="col-xs-12 {% if sidebar_menus_link_results %}has-sidebar{% endif %}" id="viewport">
                <div class="row zero-margin">
                    <div class="col-xs-12">
                        {% block messages %}
                        {% endblock %}

                        {% appearance_app_templates template_name='viewport' %}
                    </div>
                </div>

                {% include 'appearance/partials/form_title.html' %}

                {# action menu #}
                {% navigation_resolve_menus names='object,secondary' sort_results=True as action_menus_link_results %}
                {% if action_menus_link_results %}
                    <div class="pull-right btn-group" id="menu-actions">
                        {% include 'navigation/actions_dropdown.html' %}
                    </div>
                    <div class="clearfix"></div>
                {% endif %}

                {% block content %}{% endblock %}
                {% block footer %}{% endblock %}
            </div>

            {% if sidebar_menus_link_results %}
                <div id="sidebar">
                    <ul class="list-group">
                        {% for menu_link_result in sidebar_menus_link_results %}
                            {% for link_group in menu_link_result.link_groups %}
                                {% if menu_link_result|length > 1 %}
                                    {% if menu_link_result.menu.name not in 'facet,list facet'|split:"," %}
                                        <li class="dropdown-header">{{ menu_link_result.menu.label }}</li>
                                    {% else %}
                                        {% ifchanged link_group.object %}
                                            {% common_get_object_verbose_name obj=link_group.object as link_group_object_verbose_name %}
                                            <li class="dropdown-header">{% if link_group_object_verbose_name %}{{ link_group_object_verbose_name }}{% else %}{% trans 'Object' %}{% endif %}</li>
                                        {% endifchanged %}
                                    {% endif %}
                                {% endif %}

                                {% with link_group.links as object_navigation_links %}
                                {% with 'true' as hide_active_anchor %}
                                {% with 'active' as link_class_active %}
                                {% with 'list-group-item btn-sm' as link_classes %}
                                {% with 'true' as as_li %}
                                    {% include 'navigation/generic_navigation.html' %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

{% block javascript %}{% endblock %}

<script>
    document.title = '{% filter escapejs %}{% spaceless %}{% block title %}{% endblock %} :: {% block project_name %}{% smart_setting "COMMON_PROJECT_TITLE" %}{% endblock %}{% endspaceless %}{% endfilter %}';
    // Strip HTML entities from the title
    document.title = document.title.replace(/&(?:[a-z\d]+|#\d+|#x[a-f\d]+);/ig, '');

    jQuery(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

        let djangoMessages = [
            {% for message in messages %}
                {
                    tags: '{{ message.tags }}',
                    message: '{{ message.message }}'
                },
            {% endfor %}
        ];

        app.afterBaseLoad({'djangoMessages': djangoMessages});
    });
</script>
{% endspaceless %}
